body{
    font-family:'Quicksand', 'Cabin', sans-serif;
}
.wrapper{
    width: 1368px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo_header{
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
    color: #000;
    text-decoration: none;
    margin-right: 44px; 
}
.header_btn{
    border-radius: 4px;
    background: #0F8277;
    color: #EEEEEE;
    padding: 10px 28px 10px 12px;
    border: none;
    margin-right: 44px;
}
.header_btn::after{
    content: "";
    background-image: url(../img/arrow.svg);
    width: 10px;
    height: 14px;
    position: absolute;
    left: 285px; top: 60px;
    display: block;
}
.nav_btn{
    border: none;
    padding: 0;
}
.input_search{
    width: 330px;
    height: 36px;
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; 
    margin-bottom: 12px;
}
.search{
    padding: 10px 10px;
    border: 1px solid #5C5C5C;
    background-color: #0F8277;
    width: 16px;
    height: 14px;
    margin: 0;
    border-top-right-radius: 5%;
    position: relative;
    top: 12px; right: 42px;

}
.nav_text{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.text_first{
    margin-left: 40px;
}
.text_sec{
    margin-left: 48px;
}
.nav_ligin{
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: none;
    margin-left: 104px;
}
.nav_sign_up{
    border-radius: 4px;
    background-color: #0F8277;
    color: #EEE;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    padding: 10px 12px;
    text-decoration: none;
    margin-left: 16px;
}
.wrapper_section_first{
    width: 1368px;
    margin: auto;
    border-radius: 12px;
    background-color: #DBF3ED;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.about_first{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: auto;
    width: 512px;  
}
.img_hero{
   padding: 30px 30px;
}
.title_first{
    color: #000;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}
.text_first1{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%; 
    margin-top: 0;
    margin-bottom: 0;
}
.button_first{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.btn_first{
    border-radius: 4px;
    background: #0F8277;
    padding: 10px 12px;
    color: #EEE;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    border: none;
}
.btn_first_first{
    border-radius: 4px;
    border: 2px solid #0F8277;
    padding: 10px 12px;
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}
.wrapper_section_second{
    width: 1368px;
    margin: auto;
    margin-top: 80px;
}

.about_second{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

}
.about_second_bild1{
    height: 508px;
    width: 416px;
    border: 1px solid #BEBEBE;
    border-radius: 3%;
}
.img_bild1{
    width: 416px;
    height: 298px;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
}
.text_second{
    margin: 0;
    padding: 0;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}
.title_second{
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: none;
    margin-top: 12px;
    margin-bottom: 12px;
}
.text_second2{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}
.logo{
    margin-top: 24px;
    margin-left: 16px;
}
.text_second_education{
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.educ{
    position: relative;
    left: 100px;
    bottom: 25px;
}
.text_second_high_quality{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    margin-left: 16px;
}
.img_diploma{
    position: relative;
    left: 15px; top:  60px;
}
.text_second_get_diploma{
    color: #0F8277;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;  
    position: relative;
    left: 40px; top: 20px;
}
.euro{
    position: relative;
    left: 45px; bottom:  20px;
}
.proj{
    position: relative;
    left: 65px;
    bottom: 40px;
}
.text_second_edu{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 20px;
}
.img_diploma_1{
    position: relative;
    top:  12px; left: 15px;
}
.text_second_get_diploma_1{
    color: #0F8277;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    position: relative;
    bottom:  28px; left: 39px;
}
.wrapper_section_third{
    width: 1368px;
    margin: auto;
    margin-top: 80px;
}
.about_third{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.about_third_bild{
    height: 480px;
    width: 306px;
    border: 1px solid #BEBEBE;
    border-radius: 3%;
}
.img_third{
    width: 306px;
    height: 270px;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%
}
.text_third{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    padding: 0;
    margin: 0;
    margin-left: 14px;
}
.text_third_course{
    color: #0F8277;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-left: 14px;
    position: relative;
    top: 50px;
}
.course{
    position: relative;
    top: 20px;
}
.course2{
    position: relative;
    top: 25px;
    padding: 0;
}
.btn_third{
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    border: none;
    background:none;
}
.btn_third_3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 43px;
}
.wrapper_section_fourth{
    width: 1368px;
    margin: auto;
    margin-top: 83px;
}
.about_fourth{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 24px;
}
.title_fourth{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    width: 306px;
    padding: 0;
    margin: 0;
}
.text_green{
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 32px;
}
.text_fourth_black{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    padding: 0;
    margin: 0;
}
.fourth{
    margin-bottom: 40px;
}
.btn_fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
    margin-bottom: 83px;
}
.btn_fourth_4{
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    border: none;
    background: none;
}
.wrapper_brend{
    width: 1368px;
    height: 382px;
    margin: auto;
    background: #DBF3ED;
}
.about_brend{
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    margin: auto;
    width: 871px;
    padding-top: 80px;
}
.about_brend_info{
    padding-left: 36px;
}
.img_brend{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.brend1{
    width: 178px;
    height: 36px;
}
.brend2{
    width: 122px;
    height: 42px;
}
.brend3 {
    width: 106px;
    height: 36px;
}
.brend4 {
    width: 63.36px;
    height: 66px;
}
.brend5 {
    width: 96.8px;
    height: 38.72px;
}
.brend6 {
    width: 135.52px;
    height: 44px;
}
.brend7 {
    width: 152px;
    height: 40px;
}
.brend8 {
    width: 151.36px;
    height: 32.56px;
}
.wrapper_brend_second{
    width:1368px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    gap: 72px;
}
.about_brend_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 636px;
    margin-top: 68px;
    margin-bottom: 68px;
}
.title_about_brend{
    color: #000;
    font-size: 40px;;
    font-weight: 700;
    line-height: 120%;
    padding: 0;
    margin: 0;
}
.text_about_brend{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    padding: 0;
    margin: 0;
}
.btn_contact{
    color: #EEE;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    border-radius: 4px;
    background: #0F8277;
    padding: 10px 12px;
    margin: 0;
    border: none;
}
.about_brend_img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.img_brend_second{
    width: 196px;
    height: 136px;
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_1{
    width: 150px;
    height: 27px;  
}
.img_2 {
    width: 62px;
    height: 62px;
}
.img_3 {
    width: 111px;
    height: 80px;
}
.img_4 {
    width: 150px;
    height: 48px;
}
.img_5 {
    width: 63px;
    height: 57px;
}
.img_6 {
    width: 151px;
    height: 42px; 
}
.img_7 {
    width: 150px;
    height: 34px;
}
.img_8 {
    width: 61px;
    height: 60px;
}
.img_9 {
    width: 150px;
    height: 29px; 
}
.brend_three{
    border: none;
    border-bottom: 1px solid #BABABA;
}
.brend_six{
    border: none;
    border-bottom: 1px solid #BABABA;
}
.brend_seven{
    border: none;
    border-right: 1px solid #BABABA;
}
.brend_eight{
    border: none;
    border-right: 1px solid #BABABA;
}
.brend_nine{
    border: none;
}
.wrapper_price{
    width: 1368px;
    height: 966px;
    margin: auto;
    background-color:  #DBF3ED;
}
.title_price{
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    padding-top:  80px;
    padding-bottom: 40px;
    margin: 0;
}
.price{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 36px;
    margin-right: 36px;
}
.about_price{
    width: 416px;
    height: 698px;
    background-color: #FDFDFD;
    border-radius: 24px;
    border: 1px solid #0F8277;
    padding: 56px 56px 56px 56px;
    box-sizing: border-box;
}
.price_second{
    border-radius: 24px;
    border: 1px solid #0F8277;
    background-color: #0F8277;
    box-sizing: border-box;
}
.title_price_second{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    padding: 0;
    margin: 0;
}
.text_price{
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    padding: 0;
    margin: 0;
    margin-top: 27px;
}
.price_first{
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    padding: 0;
    margin: 0;
    margin-top: 27px;
}
.price_second_second{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.btn_price{
    color: #F6FDFF;
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    border-radius: 4px;
    background-color: #0F8277;
    padding: 10px 12px;
    border: none;
    margin-left: 93px;
    margin-top: 75px;
}
.line{
    background-color: #0F8277;
    height: 2px;
    width: 306px;
    margin-top: 48px;
    margin-bottom: 48px; 
}
.line_second{
    background-color: #fff;
    height: 2px;
    width: 306px;
    margin-top: 48px;
    margin-bottom: 48px;
}
.click{
    border-radius: 500px;
    background-color: #0F8277;
    width: 16px;
    height: 16px;
    margin-right: 16px;
    padding: 1px;
}
.text_price_second{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.btn_price_third{
    margin-top: 50px;
}
.title_price_green{
    color: #FFF;
}
.text_price_green{
    color: #FFF;
}
.price_first_green{
    color: #FFF;
}
.price_second_second_green{
    color: #FFF;
}
.btn_price_green{
    border: 2px solid #FFF;
    margin-top: 27px;
}
.text_price_second_green{
    color: #FFF;
}
.click_second{
    border-radius: 500px;
    width: 16px;
    height: 16px;
    margin-right: 16px;
    padding: 1px;
    background-repeat: no-repeat;
    stroke-width: 2px;
    background: #fff;
}
.wrapper_students{
    width: 1368px;
    background-color: #FFF;
    margin: auto;
}
.title_students{
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    padding-top:  80px;
    padding-bottom: 40px;
}
.students{
    display: grid;
    grid-template-columns: 306px 306px 306px 306px;
    grid-template-rows: 210.5px 210.5px 210.5px;
    gap: 24px 24px;
    margin-left: 36px;
    padding-bottom:  76px;
}
.student_1{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 306px;
    height: 210.5px;
}
.student_9{
    grid-column: 2/4;
    grid-row: 1/3;
    width: 636px;
    height: 445px;
}
.student_8{
    grid-column: 4/5;
    grid-row: 1/2;
    width: 306px;
    height: 210.5px;
}
.student_2{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 306px;
    height: 210.5px;
}
.student_3{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 306px;
    height: 210.5px;
}
.student_4{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 306px;
    height: 210.5px;
}
.student_5{
    grid-column: 3/4;
    grid-row: 3/4;
    width: 306px;
    height: 210.5px;
}
.student_6{
    grid-column: 4/5;
    grid-row: 3/4;
    width: 306px;
    height: 210.5px;
}
.student_7{
    grid-column: 4/5;
    grid-row: 2/3;
    width: 306px;
    height: 210.5px;
}
.wrapper_contact{
    width: 1368px;
    height: 727px;
    margin: auto;
    background-image: url(../img/image_32.png);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    background-color: rgba(0, 0, 0, 0.60);
}

.form{
    border-radius: 24px;
    background-color: #DBF3ED;
    padding: 30px 30px 30px 30px;
    width: 565px;
    height: 614px;
   
}
.title_contact{
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    padding: 0;
}
.text_contact{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    text-align:center ;
}
.name{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
}
.name_second{
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.input{
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    width: 100%;
    padding: 12px 12px;
    box-sizing: border-box;
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.input_btn{
    color: #F6FDFF;
    text-align: center;
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    border-radius: 4px;
    background-color: #0F8277;
    padding: 10px 12px;
    width: 196px;
    border: none;
}
.textarea{
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
    height: 104px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}
.wrapper__footer{
    background-color: #F1F1F1;
    width: 1368px;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
   
}
.icon-1{
    background-image: url(../img/instagram.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: block;
}
.icon-2 {
    background-image: url(../img/fb.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: block;
}
.icon-3 {
    background-image: url(../img/lin.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: block;
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 306px;
    padding: 64px 36px;
}
.title-footer{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
}
.text-footer{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.footer_info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
    padding: 64px 36px;
}
.icon{
    display: flex;
    flex-direction: row;
    gap: 24px;
}